/* Circular Content Carousel Style */


.button button:focus{
  text-decoration: none;
  border: none;
  outline: none;
}

.button button{
  font-size: 14pt;
  background: #b0ccc6;
  color: $black;
  font-family: $font;
  font-weight: $weight-bold;
  border-radius: 0.5em;
  height: 40px;
  width: 166px;

}
.button{
  margin: 0 auto;
  width: 300px;
  text-align: center;
}



.sheet{
  background-image: url("../img/logo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 861px;
  width: 100%;

}

.sheet2{
  background-image: url("/img/logo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 861px;
  width: 100%;

}

._text{
  width: 100%;
  float: left;
}
.ca-container{
  position:relative;
  margin:30px auto 20px auto;
  width: 100%;
  height:450px;
  display: inline-block;
}
.ca-wrapper{
  width:100%;
  height:100%;
  position:relative;
}
.ca-item{
  position:relative;
  left: 83px !important;
  //margin: 0 auto !important;
  width:330px;
  height:100%;
  text-align:center;
}
.ca-more{
  position: absolute;
  bottom: 10px;
  right:0px;
  padding:4px 15px;
  //font-weight:bold;
  background: $principal-color;
  text-align:center;
  color: white;
  font-family: $font;
  font-size: 9pt;
  font-style:italic;
  //text-shadow:1px 1px 1px #897c63;
}


.ca-more.ca-more2{
  //font-weight:bold;
  background: $principal-color2 !important;
  color: $black !important;
  //text-shadow:1px 1px 1px #897c63;
}

a.ca-more.ca-more2:hover,a.ca-more.ca-more2:focus{
  color: $black !important;
  text-decoration: none;
}

a.ca-more:hover,a.ca-more:focus{
  color: $white;
  text-decoration: none;
}
.ca-close{
  position:absolute;
  top:10px;
  right:10px;
  background:#fff url("../img/cross.png") no-repeat center center;
  width:27px;
  height:27px;
  text-indent:-9000px;
  outline:none;
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  opacity:0.7;
}
.ca-close:hover{
  opacity:1.0;
}
.ca-item-main{
   padding:20px;
   position:absolute;
   top:5px;
   left:5px;
   right:5px;
   bottom:5px;
   background:#b0ccc6;
   overflow:hidden;
   -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
   -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
   box-shadow:1px 1px 2px rgba(0,0,0,0.2);
 }

.ca-item-main2{
  padding:20px;
  position:absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  //background:#FF90A3;
  background:#f7b9c3;
  overflow:hidden;
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

.ca-icon{
  width:219px;
  height:220px;
  position:relative;
  margin:0 auto;
  background:transparent url("../img/characters1-1-logo.jpg") no-repeat center center;
}

.ca-icon2{
  width:219px;
  height:220px;
  position:relative;
  margin:0 auto;
  background:transparent url("../img/characters1-2-logo.png") no-repeat center center;
}

.ca-icon3{
  width: 219px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters1-3-logo.png") no-repeat center center;
}

.ca-icon4{
  width: 219px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters1-4-logo.png") no-repeat center center;
}

.ca-icon5{
  width: 219px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters1-5-logo.png") no-repeat center center;
}

.ca-icon6{
  width: 250px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/anime.jpg") no-repeat center center;
}


.ca-icon7{
  width: 250px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters2-1-logo.png") no-repeat center center;
}

.ca-icon8{
  width: 250px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters2-2-logo.png") no-repeat center center;
}

.ca-icon9{
  width: 250px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters2-3-logo.png") no-repeat center center;
}

.ca-icon10{
  width: 250px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters2-4-logo.png") no-repeat center center;
}

.ca-icon11{
  width: 250px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/characters2-5-logo.png") no-repeat center center;
}


.ca-icon12{
   width: 250px;
   height: 235px;
   position: relative;
   margin: 0 auto;
   background: transparent url("../img/manga2.jpg") no-repeat center center;
 }


.ca-icon13{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/world1-1-logo.jpg") no-repeat center center;
}


.ca-icon14{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/world1-2-logo.jpg") no-repeat center center;
}

.ca-icon15{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/world1-3-logo.jpg") no-repeat center center;
}


.ca-icon16{
   width: 250px;
   height: 235px;
   position: relative;
   margin: 0 auto;
   background: transparent url("../img/world1-4-logo.jpg") no-repeat center center;
 }

.ca-icon17{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: transparent url("../img/world1-5-logo.jpg") no-repeat center center;
}

.ca-icon18{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: url("../img/ccs2.jpg") no-repeat center center;
}

.ca-icon19{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: url("../img/sakurac.jpg") no-repeat center center;
}


.ca-icon20{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: url("../img/shaoranc.jpg") no-repeat center center;
}

.ca-icon21{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: url("../img/touyac.jpg") no-repeat center center;
}

.ca-icon22{
  width: 250px;
  height: 235px;
  position: relative;
  margin: 0 auto;
  background: url("../img/yukitoc.jpg") no-repeat center center;
}

.ca-content-wrapper{
  left: 330px;
  overflow: hidden;
  width: 660px;
  background:#b0ccc6;
  position:absolute;
  //width:0px; /* expands to width of the wrapper minus 1 element */
  height:440px;
  top:5px;
  text-align:left;
  z-index:3;
  //overflow:hidden;
  //left: 330px;
}

.ca-content-wrapper.ca2{
  background:#f7b9c3 !important;
  //position:absolute;
  //width:0px; /* expands to width of the wrapper minus 1 element */
  //height:440px;
  //top:5px;
  //text-align:left;
  //z-index:3;
  //overflow:hidden;
  //left: 330px;
}

.ca-content{
  width:660px;
  overflow:hidden;
  color: $black;
}
.ca-content-text{
  font-size: 14px;
  //font-style: italic;
  font-family: $font;
  margin:10px 20px;
  padding:10px 20px;
  line-height:24px;
  font-weight: $weight-regular;
}
.ca-content-text p{
  padding-bottom:5px;
}
.ca-content h6{
  margin:25px 20px 0px 35px;
  font-size:32px;
  padding-bottom:5px;
  color:#000;
  font-family: $font;
  color:#60817a;
  border-bottom:2px solid #99bcb4;
  text-shadow: 1px 1px 1px #99BCB4;
}

.ca-content.ca6 h6{
  margin:25px 20px 0px 35px;
  font-size:32px;
  padding-bottom:5px;
  color:#000;
  font-family: $font;
  color:$principal-color2;
  border-bottom:2px solid $principal-color2;
  text-shadow: 1px 1px 1px $principal-color2;
}
//.ca-content ul{
//  margin:20px 35px;
//  height:30px;
//  margin-top: 98px;
//}

.ca-content ul li{
  float:left;
  //margin:0px 4px;
  padding: 3px;
  cursor: pointer;
}
.ca-content ul li a{
  color:#fff;
  background:#000;
  padding:3px 6px;
  font-size:14px;
  font-family: $font;
  font-weight: $weight-regular;
  cursor: pointer;
  //font-style:italic;
}
.ca-content ul li a:hover{
  background:#fff;
  color:#000;
  text-shadow:none;
  cursor: pointer;
  padding: 3px 6px;
  text-decoration: none;
  font-family:$font;
  font-weight: $weight-regular;
}

table {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

th, td {
  padding: 5px;
  text-align: left;
  font-family: $font;
  font-weight: $weight-regular;
  font-size: 12pt;
}

th.title{
  color:$black;
  background:#77a89c;
  padding:3px 6px;
  font-size:14px;
  font-family: $font;
  font-weight: $weight-bold;
  //font-style:italic;
  border-radius:0.3em ;
  height: 34px;
  cursor: pointer;
}

th.title2{
  color:$black;
  background:$principal-color2;
  padding:3px 6px;
  font-size:14px;
  font-family: $font;
  font-weight: $weight-bold;
  //font-style:italic;
  border-radius:0.3em ;
  height: 34px;
  cursor: pointer;
}

th.title a{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

th.title2 a{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

th.inter{
  height: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}


table.table2{
  width: 100%;
}

.table2 th{
  height: 34px;
}

table.table3{
  width: 83%;
}

.table3 th.anime{
  color:$black;
  background:#77a89c;
  font-size:14px;
  font-family: $font;
  font-weight: $weight-bold;
  border-radius:0.3em ;
  padding-right: 4px;
}

.table3 th.manga{
  color:$black;
  background:#77a89c;
  font-size:14px;
  font-family: $font;
  font-weight: $weight-bold;
  border-radius:0.3em ;
  padding-right: 5px;
}

th.anime ul li:hover,th.manga ul li:hover{
  background: #9ed1c5;
  //padding: 5px;
}

th.intermedium{
  padding: 0.5px;
}

.table2 th{
  text-align: center;

}

.table2 td, .table2 th{
  padding: 1px;
}

.content-table{
  margin:10px 35px;
}
//.ca-nav span{
//  width:25px;
//  height:38px;
//  background:transparent url(/img/arrows.png) no-repeat top left;
//  position:absolute;
//  top:50%;
//  margin-top:-19px;
//  left:-40px;
//  text-indent:-9000px;
//  opacity:0.7;
//  cursor:pointer;
//  z-index:100;
//}
//.ca-nav span.ca-nav-next{
//  background-position:top right;
//  left:auto;
//  right:-40px;
//}
//.ca-nav span:hover{
//  opacity:1.0;
//}