#principal-char h1{
  display: table;
  font-family: $font;
  font-weight: $weight-bold;
  font-size: 18pt;
  padding-top: 33px;
}

.col-margin2{
  margin-top: 50px;
  text-align: center;
}

.col-margin { margin-top: 14px; text-align: center; height: 106px; }


.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.inside-char:hover .image {
  opacity: 0.3;
}

.inside-char:hover .middle {
  opacity: 1;
}

.text {
  background-color: $principal-color;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 0.5em
}


.text a, .text a:hover{
  text-decoration: none;
  color: $white;
}

