<section class="sheet">
    <div class="container">
        <div id="ca-container" class="ca-container">
            <div class="ca-wrapper">
                {%for dataSheet in site.data.data-sheets%}
                <div class="ca-item {{dataSheet.css_class}}">
                    <div class="ca-item-main">
                        <div class="ca-icon"></div>
                        <h3>{{dataSheet.character_name}}</h3>
                        <h4>
                            <span class="ca-quote"></span>
                            <span>{{dataSheet.character_importance}}</span>
                        </h4>
                        <a href="#" class="ca-more">Más...</a>
                    </div>
                    <div class="ca-content-wrapper">
                        <div class="ca-content">
                            <h6>{{dataSheet.rol}}</h6>
                            <a href="#" class="ca-close">close</a>
                            <div class="ca-content-text">
                                <table>
                                    <tr>
                                        <td>{{dataSheet.name-title}}</td>
                                        <td>{{dataSheet.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{dataSheet.aniversary-title}}</td>
                                        <td>{{dataSheet.aniversary}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{dataSheet.years-title}}</td>
                                        <td>{{dataSheet.years}}</td>
                                    </tr>

                                    <tr>
                                        <td>{{dataSheet.objects-title}}</td>
                                        <td>{{dataSheet.objects}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{dataSheet.voice-title}}</td>
                                        <td>{{dataSheet.voice1}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{dataSheet.voice2}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>{{dataSheet.voice3}}</td>
                                    </tr>
                                </table>



                            </div>
                            <!--<ul class="list-unstyled">-->
                                <div class="content-table">
                                    <table class="table2">
                                        <tr>
                                            <th class="title">{{dataSheet.Anime}}</th>

                                            <th></th>
                                            <th class="title">{{dataSheet.Manga}}</th>
                                            <th></th>
                                            <th class="title"><a href="{{dataSheet.url}}" target="_blank">{{dataSheet.buy}}</a></th>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <th class="inter"></th>
                                        </tr>
                                    </table>
                                    <table class="table3">
                                        <tr>
                                            <th class="anime" style="padding-left: 54px">
                                                <ul class="list-unstyled d-sheet">
                                                    <li><a href="#1">1</a></li>
                                                    <li><a href="#2">2</a></li>
                                                    <li><a href="#3">3</a></li>
                                                </ul>
                                            </th>
                                            <th class="intermedium"></th>
                                            <th class="manga">
                                                <ul class="list-unstyled d-sheet">
                                                    <li><a href="manga-timeline.html#1.1" target="_blank">1.1</a></li>
                                                    <li><a href="manga-timeline.html#1.2" target="_blank">1.2</a></li>
                                                    <li><a href="manga-timeline.html#210" target="_blank">2</a></li>
                                                    <li><a href="manga-timeline.html#3" target="_blank">3</a></li>
                                                </ul>
                                            </th>

                                        </tr>


                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
                {%endfor%}

    </div>
        </div>
    </div>


</section>