<meta charset="UTF-8">
<title> TFG - Wiki</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/main.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

<!--Scripts jquery y bootsrap-->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/data_sheets.js"></script>
<!--<script type="text/javascript" src="/js/characters_redirect.js"></script>-->
<script src="js/modernizr.js"></script> <!-- Modernizr -->
