<nav>
    <div class="bar-menu2 col-xs-12">
        <div class="container" id="menu2">
            <ul class="menu2 list-unstyled text-center">
                {%for menu in site.data.menues2%}
                <li><a href="" class="{{menu.class}} dropdown-toggle">{{menu.name}}</a>
                    <ul class="dropdown-menu inside-menu {{menu.class}} list-unstyled">
                        {%for submenu2 in menu.hasSubmenu%}
                        <li><a href="{{submenu2.url}}" >{{submenu2.name}}</a></li>
                        {%endfor%}
                    </ul>
                    {%endfor%}

            </ul>
        </div>
    </div>
</nav>



