<section>
    <div id="principal-char" class=" container">
        <h1>{{site.data.characters.title}}</h1>
        {%for principalCharacter in site.data.principal-characters%}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin2 inside-char">
            <img src="{{principalCharacter.img}}" class="image" style="height:{{principalCharacter.height}};width:{{principalCharacter.width}}">
            <div class="middle">
                <div class="text {{principalCharacter.item}}"><a href="{{principalCharacter.url}}" onclick="redirect('{{principalCharacter.item}}')">{{principalCharacter.name}}</a></div>
            </div>
        </div>
        {%endfor%}
    </div>
</section>