<span class="ir-arriba icon-arrow-up2"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
<div id="cd-timeline" class="cd-container">
    {%for timeline in site.data.data-sheets%}
    {%for timeline2 in timeline.timeline%}
    <div class="cd-timeline-block">
        {%if timeline2.isFirst == true%}
        <div class="cd-timeline-img cd-picture">
            <a name="{{timeline2.cap}}"><h1>{{timeline2.title}}</h1></a>

        </div> <!-- cd-timeline-img -->
        {%else%}
        <div class="cd-timeline-img cd-picture transparent">
        </div> <!-- cd-timeline-img -->
        {%endif%}
        {%if timeline2.isCharacterCrossover == true%}
        <div class="cd-timeline-content {{timeline2.css_class}}">
            <h1>Personaje Crossover</h1>
            <div class="hide-content">
                <h2>{{timeline2.name-title}}</h2>
                <h3 class="text-timeline">{{timeline2.plot}}</h3>
                <p class="story">{{timeline2.text}}</p>
                <!--<a href="#0" class="cd-read-more">Read more</a>-->
                <h3 class="text-timeline">{{timeline2.characters}}</h3>

                {%for timeline3 in timeline2.char%}
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">
                    <img src="{{timeline3.img}}" class="image">
                    <div class="middle">
                        <div class="text2"><a href="{{timeline3.url}}" target="_blank">{{timeline3.name}}</a></div>
                    </div>
                </div>
                {%endfor%}
                <h3 class="text-timeline">{{timeline2.landing}}</h3>
                {%for timeline4 in timeline2.world%}
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin{{timeline4.margin}} inside-char2">
                    <img src="{{timeline4.img}}" class="image">
                    <div class="middle2">
                        <div class="text2"><a href="{{timeline4.url}}" target="_blank">{{timeline4.name}}</a></div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div> <!-- cd-timeline-content -->

        {%elsif timeline2.isCrossover == true%}
        <div class="cd-timeline-content {{timeline2.css_class}}">
            <h1>Crossover</h1>
            <div class="hide-content">
                <h2>{{timeline2.name-title}}</h2>
                <h3 class="text-timeline">{{timeline2.plot}}</h3>
                <p class="story">{{timeline2.text}}</p>
                <h3 class="text-timeline">{{timeline2.characters}}</h3>

                {%for timeline3 in timeline2.char%}
                <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12 col-margin5 inside-char2">
                    <img src="{{timeline3.img}}" class="image">
                    <div class="middle">
                        <div class="text2"><a href="{{timeline3.url}}" target="_blank">{{timeline3.name}}</a></div>
                    </div>
                </div>
                {%endfor%}

                <h3 class="text-timeline">{{timeline2.landing}}</h3>
                {%for timeline4 in timeline2.world%}
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">
                    <img src="{{timeline4.img}}" class="image">
                    <div class="middle2">
                        <div class="text2"><a href="{{timeline4.url}}" target="_blank">{{timeline4.name}}</a></div>
                    </div>
                </div>
                {%endfor%}
                <!--<span class="cd-date">Jan 14</span>-->
            </div>

        </div> <!-- cd-timeline-content -->

        {%elsif timeline2.isSpoiler == true%}
        <div class="cd-timeline-content {{timeline2.css_class}}">
            <h1>Spoiler</h1>
            <div class="hide-content">
                <h2 class="text-timeline">{{timeline2.name-title}}</h2>
                <h3 class="text-timeline">{{timeline2.plot}}</h3>
                <p class="story">{{timeline2.text}}</p>
                <h3 class="text-timeline">{{timeline2.characters}}</h3>

                {%for timeline3 in timeline2.char%}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin{{timeline3.col}} inside-char2">
                    <img src="{{timeline3.img}}" class="image">
                    <div class="middle">
                        <div class="text2"><a href="{{timeline3.url}}" target="_blank">{{timeline3.name}}</a></div>
                    </div>
                </div>
                {%endfor%}
                <h3 class="text-timeline">{{timeline2.landing}}</h3>
                {%for timeline4 in timeline2.world%}
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin{{timeline4.col}} inside-char2">
                    <img src="{{timeline4.img}}" class="image">
                    <div class="middle2">
                        <div class="text2"><a href="{{timeline4.url}}" target="_blank">{{timeline4.name}}</a></div>
                    </div>
                </div>
                {%endfor%}
                <!--<span class="cd-date">Jan 14</span>-->
            </div>
        </div> <!-- cd-timeline-content -->

        {%elsif timeline2.isSpoiler == true%}
        <div class="cd-timeline-content {{timeline2.css_class}}">
            <h1>Spoiler</h1>
            <div class="hide-content">
                <h2 class="text-timeline">{{timeline2.name-title}}</h2>
                <h3 class="text-timeline">{{timeline2.plot}}</h3>
                <p class="story">{{timeline2.text}}</p>
                <h3 class="text-timeline">{{timeline2.characters}}</h3>

                {%for timeline3 in timeline2.char%}
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">
                    <img src="{{timeline3.img}}" class="image">
                    <div class="middle">
                        <div class="text2"><a href="{{timeline3.url}}" target="_blank">{{timeline3.name}}</a></div>
                    </div>
                </div>
                {%endfor%}
                <h3 class="text-timeline">{{timeline2.landing}}</h3>
                {%for timeline4 in timeline2.world%}
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">
                    <img src="{{timeline4.img}}" class="image">
                    <div class="middle2">
                        <div class="text2"><a href="">{{timeline4.name}}</a></div>
                    </div>
                </div>
                {%endfor%}
                <!--<span class="cd-date">Jan 14</span>-->
            </div>
        </div> <!-- cd-timeline-content -->

        {%else%}
        <div class="cd-timeline-content {{timeline2.css_class}}">
            <h2 class="text-timeline">{{timeline2.name-title}}</h2>
            <h3 class="text-timeline">{{timeline2.plot}}</h3>
            <p class="story">{{timeline2.text}}</p>
            <!--<a href="#0" class="cd-read-more">Read more</a>-->
            <h3 class="text-timeline">{{timeline2.characters}}</h3>

            {%for timeline3 in timeline2.char%}
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">
                <img src="{{timeline3.img}}" class="image">
                <div class="middle">
                    <div class="text2"><a href="{{timeline3.url}}" target="_blank">{{timeline3.name}}</a></div>
                </div>
            </div>
            {%endfor%}
            <div class="_text">
                <h3 class="text-timeline {{timeline4.hidden}}">{{timeline2.landing}}</h3>
            </div>

            {%for timeline4 in timeline2.world%}
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">

                <img src="{{timeline4.img}}" class="image">
                <div class="middle2">
                    <div class="text2"><a href="{{timeline4.url}}" target="_blank">{{timeline4.name}}</a></div>
                </div>
            </div>
            {%endfor%}
            <div class="_text">
                <h3 class="text-timeline {{timeline5.hidden}}">{{timeline2.object-name}}</h3>
            </div>
            {%for timeline5 in timeline2.object%}
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">
                <img src="{{timeline5.img}}" class="image">
                <div class="middle">
                    <div class="text2"><a href="{{timeline5.url}}" target="_blank">{{timeline5.name}}</a></div>
                </div>
            </div>
            {%endfor%}
            <div class="_text">
                <h3 class="text-timeline {{timeline5.hidden}}">{{timeline2.weapon}}</h3>
            </div>
            {%for timeline6 in timeline2.weapon%}
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 col-margin inside-char2">
                <img src="{{timeline6.img}}" class="image">
                <div class="middle">
                    <div class="text2"><a href="{{timeline6.url}}" target="_blank">{{timeline6.name}}</a></div>
                </div>
            </div>
            {%endfor%}

            <!--<span class="cd-date">Jan 14</span>-->
        </div> <!-- cd-timeline-content -->
        {%endif%}

    </div> <!-- cd-timeline-block -->
    {%endfor%}
    {%endfor%}
</div>